@keyframes latido {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
        /* Se agranda un 5% */
    }

    100% {
        transform: scale(1);
    }
}

@keyframes gigante {
  0% {
    transform: scale(1);    
  }
  50% {
    transform: scale(1.25);    
  }
  100% {
    transform: scale(1);    
  }
}