/* Este es el Partial de mi FOOTER */

.footer {
    text-align: center;
    background-color: #acba9d;
    border: none;

    .footer-social-icons {
        display: flex;
        flex-direction: row;
        justify-content: center;

        .icon {
            max-width: 25px;
            max-height: 25px;
            margin: 5px;
        }
    }


}